<div *ngIf="isLoading; else resultBlock" class="row text-center justify-content-center">
  <div class="loader"></div>
</div>
<div *ngIf="hasError">
  <div class="alert alert-danger">{{errorMsg}}</div>
</div>
<ng-template #resultBlock>
  <div id="canvasCont" class="row text-center justify-content-center" *ngIf="!hasError">
    <p>Total tweet: {{ SentimentData.tweets_count}}</p>
    <div id="chartArea">
        <canvas baseChart
        [data]="doughnutChartData"
        [labels]="doughnutChartLabels"
        [chartType]="doughnutChartType"
        [colors]="doughnutColors"></canvas>
    </div>
    <a routerLink='/detail' class="btn btn-primary" role="button">View Detail</a>
  </div>
</ng-template>