<div *ngIf="keywordInput && !isProduct">
  <div id="search-result" class="container result">
    <h3>Result for '{{keywordInput}}'</h3>
    <app-sentiment-search></app-sentiment-search>
  </div>
</div>