<div class="container result" id="tweet-list">
  <div id="tweetArea">
    <div>
      <button type="button" class="btn btn-primary" (click)="goBack()">Back</button>
    </div>
    <!-- Tempat buat judul -->
    <div class="row" id="titleBox">
      <h3>Tweet List</h3>
    </div>
    <!-- inpur search -->
    <div class="row justify-content-center">
      <div class="col-md-5">
        <input type="text" class="form-control" (keyup)="applyFilter($event.target.value)" placeholder="Filter here...">
      </div>
    </div>
    <!-- Tempat tabel -->
    <div id="tableArea" class="row justify-content-center mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="text">
          <th mat-header-cell *matHeaderCellDef> Tweet </th>
          <td mat-cell *matCellDef="let data"> 
            <div>{{data.raw_tweet}}</div>
            <div style="margin-top: 5px;"><button class="btn btn-primary" (click)="navigateToPreProduct(data['id'])">Preprocessing Steps</button></div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSize]=10 [pageSizeOptions]="[5, 10, 20, 25]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>