#tweet-list{
    margin-top: 90px;
}

#tweet-list table{
    width: 80%;
}

#titleBox{
    margin: 20px;
}
#tableArea{
    margin-top: 30px;
}

#tableArea table{
    border-collapse:separate;
    border-spacing:0 10px;
    margin-bottom: 30px;
}

#tableArea td{
    padding: 20px;
    border: 3px solid #007bff;
    border-radius: 10px;
    color: #19579b;
}