<div class="container-fluid" id="test-sentiment">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div *ngIf="showInvalid; else resultBlock">
        <div *ngIf="commentForm.status == 'INVALID'" class="alert alert-danger" role="alert" align="left">
          Keyword is required
        </div>
      </div>
      <form [formGroup]="commentForm">
        <div class="form-group">
          <textarea formControlName='comment' value="{{commentInput}}" class="form-control" rows="7" id="comment" placeholder="Enter comment to test"></textarea>
        </div>
      </form>
    </div>
  </div>
  <div class="row justify-content-center">
    <button type="button" class="btn btn-primary" id="comment-btn" (click)="processQuery()">Test Comment</button>
  </div>
</div>

<div class="container result" id="comment-result" *ngIf="goDisplay">
  <div *ngIf="isLoading; else resultBlock" class="row text-center justify-content-center">
    <div class="loader"></div>
  </div>
  <div *ngIf="hasError" class="row justify-content-center">
    <div class="alert alert-danger">{{errorMsg}}</div>
  </div>
  <ng-template #resultBlock>
    <div *ngIf="result" class="row justify-content-center text-center">
        <h4>Analyzed text: </h4>
    </div>
    <div class="row justify-content-center text-center" id="words-area">
        <span class="badge badge-pill badge-info badge-custom" *ngFor="let word of result.data[0].text">{{ word }}</span>
    </div>
    <div class="row justify-content-center text-center" id="conclusion-area">
      <span class="badge badge-custom" [class.badge-primary]="result.data[0].label == 'pos'" [class.badge-danger]="result.data[0].label == 'neg'">{{ result.data[0].label == 'pos' ? 'Positive': 'Negative' }}</span>
    </div>
  </ng-template>
</div>