#test-sentiment{
    margin-top: 90px;
}

#comment-btn{
    background-color: rgb(123, 203, 235);
    border: none
}

#comment-result{
    margin-top: 40px;
}

#comment-result .badge-custom{
    padding: 10px;
    font-size: 14px;
    margin-left: 10px;
}

#words-area{
    margin-top: 10px;
}

#conclusion-area{
    margin-top: 50px;
}