<div class="container result" id="compare">
  <div>
    <button type="button" class="btn btn-primary" (click)="goBack()">Back</button>
  </div>
  <div class="row justify-content-center">
    <div class="loader" *ngIf="isLoading; else resultBlock"></div>
  </div>
  <ng-template #resultBlock>
    <!-- {{barChartData.length}} -->
    <div class="row justify-content-center col-md-6">
      <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
        [chartType]="barChartType"></canvas>
    </div>

    <div class="row justify-content-center col-md-12">
      <p>See sentiment detail for: </p>
    </div>

    <div class="row justify-content-center col-md-12">
      <button class="btn btn-primary" *ngFor="let product of products; let i = index" (click)="getDetail(i)" style="margin-right: 10px;">
        {{product}}
      </button>
    </div>
  </ng-template>
</div>