<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" routerLink=''>Trends</a>
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink='/test'><button class="btn btn-primary">Test Sentiment</button></a>
    </li>
  </ul>
</nav>