<div id="search-form" class="container-fluid">
  <div class="row text-center justify-content-center">
    <div class="btn-group">
      <button type="button" class="{{selectedProduct}}" (click)="selectButton('product')">Trending Product</button>
      <button type="button" class={{selectedSentiment}} (click)="selectButton('sentiment')">Product Sentiment</button>
    </div>
  </div>

  <div id="search-twt" class="row text-center justify-content-center">
    <div class="col-lg-5">
      <div *ngIf="selected == 'product'; else infoBlock">
        <div class="alert alert-info" align="left">
          Please Input the Product Description
        </div>
        <!-- <div class="alert alert-info" align="left">
            <a routerLink = "#"><strong>Use TTWW instead</strong></a>
        </div> -->
      </div>
      <ng-template #infoBlock>
        <div class="alert alert-info" align="left">
          Please Input the Product Name
        </div>
      </ng-template>
      <div *ngIf="showValid">
        <div *ngIf="keywordForm.status == 'INVALID'" class="alert alert-danger" role="alert" align="left">
          Keyword is required
        </div>
      </div>
      <form [formGroup]='keywordForm'>
        <div class="input-group">
          <input formControlName='keyword' value="{{keywordInput}}" class="form-control" placeholder="Input is Using English">
          <div class="input-group-append">
            <button class="btn btn-search" (click)="isValid()">
              <i class="material-icons">arrow_forward</i>
            </button>
          </div>
        </div>

      </form>
      <!-- <div class="row text-center justify-content-center">
        <div class="btn-group">
          <button type="button" class="btn btn-custom" (click)="selectButton('product');isValid()">Search Product</button>
          <button type="button" class="btn btn-custom" (click)="selectButton('sentiment');isValid()">Search Opinion</button>
        </div>
      </div> -->
    </div>
  </div>
</div>

<app-search-result *ngIf="keywordInput != ''"></app-search-result>