#search-form .btn-custom{
    margin-top: 90px;
    margin-right: 10px;
    color: black;
    background-color: whitesmoke;
}

#search-form .btn-custom:hover{
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border-color: white;
}

#search-form .active{
    background-color: rgb(117, 195, 226);
    border-color: white;
    color: white;
}

#search-form .btn-custom:focus{
    box-shadow: none;
}

#search-twt{
    margin-top: 40px;
    margin-bottom: 60px;
}

#search-twt .form-control:focus{
    box-shadow: none;
}

#search-twt .btn-search{
    background-color: rgb(123, 203, 235);
    color: white;
}