#pre-product{
    margin-top: 90px;
}

#pre-product .card{
    margin-top: 20px;
}

#pre-product .badge-custom{
    border: 2px solid white;
    margin-top: 10px;
    padding: 10px;
    font-size: 14px;
    margin-left: 10px;
}