<div class="container result" id="presenti">
  <h2>
    Preprocessing Steps
  </h2>
  <div class="card" id="raw-text">
    <div class="card-header"><h5>Unprocessed Tweet</h5></div>
    <div class="card-body">{{prepData.raw_text}}</div>
  </div>
  <div class="card bg-info text-white" id="clean-text">
    <div class="card-header">
      <h5>Clean Tweet</h5>
      <h6>Clean Tweet from Symbol and Link</h6>
    </div>
    <div class="card-body">
      {{prepData.clean}}
    </div>
  </div>
  <div class="card bg-primary text-white" id="tokenisasi">
    <div class="card-header">
      <h5>Tokenization</h5>
      <h6>Break sentence into words</h6>
    </div>
    <div class="card-body">
      <span class="badge badge-pill badge-primary badge-custom" *ngFor="let token of prepData.token">
        {{token}}
      </span>
    </div>
  </div>

  <div class="card bg-dark text-white" id="tokenisasi">
    <div class="card-header">
      <h5>Remove Stopword</h5>
      <h6>Remove Unecessary Words</h6>
    </div>
    <div class="card-body">
      <span class="badge badge-pill badge-dark badge-custom" *ngFor="let stopword of prepData.text">
        {{stopword}}
      </span>
    </div>
  </div>

  <div class="card bg-success text-white" id="stemming">
    <div class="card-header">
      <h5>Stemming</h5>
      <h6>Turn Words into Its Root. Final Step</h6>
    </div>
    <div class="card-body">
      <span class="badge badge-pill badge-success badge-custom" *ngFor="let stem of prepData.stem">
        {{stem}}
      </span>
    </div>
  </div>

</div>