#presenti{
    margin-top: 90px;
}

#presenti .card{
    margin-top: 20px;
}

#presenti .badge-custom{
    border: 2px solid white;
    margin-top: 10px;
    padding: 10px;
    font-size: 14px;
    margin-left: 10px;
}