<div class="container result" id="sentiment-detail">
  <div *ngIf="SentimentData" id="detailArea">
    <div>
      <button type="button" class="btn btn-primary" (click)="goBack()">Back</button>
    </div>
    <!-- Tempat buat judul -->
    <div class="row" id="titleBox">
      <h3>Detail Page</h3>
    </div>
    <!-- Card summary -->
    <div id="summaryArea">
      <div class="card bg-light">
        <div class="card-header">Summary</div>
        <div class="card-body">
          <p>Keyword: {{SentimentData.keyword}}</p>
          <p>Positive score: {{SentimentData.positive * 100}}%</p>
          <p>Negative score: {{SentimentData.negative * 100}}%</p>
        </div>
        <div class="card-footer">
          <p>Total tweets: {{SentimentData.tweets_count}}</p>
          <p>Total query: {{SentimentData.queries_done}}</p>
        </div>
      </div>
    </div>
    <!-- Tempat tombol filter -->
    <div class="row text-center justify-content-center" id="filterButtons">
      <button type="button" class="btn btn-outline-success" (click)="filterData('')" [class.all-btn]="filter == ''">All Tweets</button>
      <button type="button" class="btn btn-outline-primary" (click)="filterData('pos')" [class.pos-btn]="filter == 'pos'">Positive Tweets</button>
      <button type="button" class="btn btn-outline-danger" (click)="filterData('neg')" [class.neg-btn]="filter == 'neg'">Negative Tweets</button>
    </div>
  </div>
  <!-- Tempat tabel -->
  <div id="tableArea" class="row justify-content-center mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="text">
        <th mat-header-cell *matHeaderCellDef> Tweet </th>
        <td mat-cell *matCellDef="let sentiment" [class.pos]="sentiment.label == 'pos'" [class.neg]="sentiment.label == 'neg'"> 
          <div>{{sentiment.raw_text}}</div>
          <div style="margin-top: 5px;"><button class="btn btn-primary" (click)="navigateToPresenti(sentiment['id'])">Preprocessing Steps</button></div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSize]=10 [pageSizeOptions]="[5, 10, 20, 25]" showFirstLastButtons></mat-paginator>
  </div>
</div>