#sentiment-detail{
    margin-top: 90px;
}

#sentiment-detail table{
    width: 80%;
}

#titleBox{
    margin: 20px;
}

#filterButtons .btn{
    margin-top: 20px;
    margin-left: 10px;
}

#filterButtons .all-btn{
    background-color: rgb(40, 167, 69);
    color: white;
}

#filterButtons .pos-btn{
    background-color: rgb(0, 123, 255);
    color: white;
}

#filterButtons .neg-btn{
    background-color: rgb(220, 53, 69);
    color: white;
}

#tableArea{
    margin-top: 30px;
}

#tableArea mat-paginator{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #343a40;
    color: white;
}

#tableArea table{
    border-collapse:separate;
    border-spacing:0 10px;
    margin-bottom: 30px;
}

#tableArea td{
    padding: 20px;
    border: none;
    border-radius: 10px;
}

#tableArea .pos{
    background-color: rgb(163, 220, 255);
    color: rgb(4, 4, 97);
}

#tableArea .neg{
    background-color: rgb(233, 165, 165);
    color: darkred;
}