#product-result{
    margin-top: 90px;
}
#product-result #twt-btn{
    margin-top: 20px;
    color: white;
}

#product-area{
    margin-top: 20px;
}

#product-area .list-group-item{
    padding-left: 35px;
}

#product-area .list-group-item:hover{
    background-color: #007bff;
    color: white;
}
#product-area .list-group-item:disabled{
    background-color: #f7f7f7;
}
#product-area .list-group-item:disabled:hover{
    color: #81afc3;
}

#product-area table{
    width: 80%;
    margin-bottom: 20px;
}

#filter-area{
    margin-top:60px;
}
