<div class="container result" id="product-result">
  <div *ngIf="isLoading; else resultBlock" class="row text-center justify-content-center">
    <div class="loader"></div>
  </div>
  <!-- Card area -->
  <ng-template #resultBlock>
    <div class="row" id="card-area">
      <div class="col-md-5">
        <div class="card">
          <div class="card-header">
            Received Tweets
          </div>
          <div class="card-body">
            <p class="card-text">See {{ProductsData.tweets_count}} received tweets here</p>
            <div>
              <a routerLink="/products" id="twt-btn" class="btn btn-primary">Tweets</a>
            </div>
          </div>
          <div class="card-footer text-muted">
            Click the product names below to see the sentiment
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10" style="margin-top: 20px">

        <div class="card-deck">
          <div class="card bg-primary text-white" style="margin-top: 20px;">
              <div class="card-header">
                <p>Original Keyword</p>
                <p style="font-size: 14px">Before Stopword Removal</p>
              </div>
              <div class="card-body">
                {{ProductsData.keywrod}}
              </div>
            </div>
          <div class="card bg-danger text-white" style="margin-top: 20px;">
            <div class="card-header">
              <p>Remove Stopword</p>
              <p style="font-size: 14px">Remove Unnecessary Words</p>
            </div>
            <div class="card-body">
              {{ProductsData.stop_keyword}}
            </div>
          </div>
        </div>

      </div>
    </div>
  </ng-template>

  <!-- Filter area
    <div id="filter-area" class="row text-center justify-content-center">
      <div class="col-md-5">
        <form [formGroup]='filterForm'>
          <div class="input-group">
            <input class="form-control" placeholder="filter" formControlName="filter">
            <div class="input-group-append">
              <button class="btn btn-primary" (click)="filterProduct()">
                <i class="material-icons">search</i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </ng-template>
  <!- Product area -->
  <div id="product-area">
    <div class="row justify-content-center">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Product Name</th>
          <td mat-cell *matCellDef="let content">
            <input type="checkbox" class="form-check-input" [(ngModel)]="product_check[content.name]">{{ content.name | titlecase}}
          </td>
        </ng-container>

        <ng-container matColumnDef="count">
          <th mat-header-cell *matHeaderCellDef>Count</th>
          <td mat-cell *matCellDef="let content">{{content.count}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSize]=10 [pageSizeOptions]="[5, 10, 20, 25]" showFirstLastButtons></mat-paginator>
    </div>
    <div class="row justify-content-center">
      <button class="btn btn-primary" style="margin-top: 20px; margin-bottom: 45px" (click)="compare()">Compare</button>
      <p style="color: red" ng-if="hasError">{{products_error}}</p>
    </div>
  </div>
</div>