/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(141deg, rgb(15, 119, 160)20%,
    rgb(32, 150, 185)51%, rgb(67, 167, 248)75%);
    background-repeat: no-repeat;
    background-attachment: fixed
}
.loader{
    margin-top:  5%;
    margin-bottom: 5%;
    border: 16px solid whitesmoke;
    border-top: 16px solid #7097d6;
    border-bottom: 16px solid #7097d6;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

.loader-small{
    border: 16px solid whitesmoke;
    border-top: 16px solid #7097d6;
    border-bottom: 16px solid #7097d6;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

mat-paginator{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #343a40;
    color: white;
}

.result{
    background-color: white;
    border-radius: 10px;
    padding: 20px;    
}